/*? Header */

.header {
  height : 56px;

  display : flex;
  justify-content : space-between;

}

.left-section {
  display : flex;
  align-items : center;
}
.hamburger-menu {
  height : 24px;
  margin : 0px 24px;
}
.youtube-logo {
  height : 20px;
}

.middle-section {
  display : flex;
  flex : 1;
  max-width : 520px;
  align-items : center;
}
.search-box {
  flex : 1;
  height : 36px;
  max-width : 348px;
  padding : 1px 2px 1px 12px;
  border : 1px solid rgb(192, 192, 192);
  border-radius : 2px;
  box-shadow : inset 1px 1px 1px rgba(43, 43, 43, 0.15);
  margin-left : 42px;
}
.search-box::placeholder {
  font-family : Roboto, Arial;
  font-size : 1rem;
}
.search-button {
  height : 40px;
  width : 64px;
  padding : 1px 6px;
  background-color: rgb(240, 240, 240);
  border : 1px solid rgb(192, 192, 192);
  margin-left : -1px;
  margin-right : 10px;
}
.search-icon {
  height : 24px;
  width : 24px;
  margin-top : 4px;
}
.voice-search-button {
  width : 40px;
  height : 40px;
  border-radius : 20px;
  border : none;
  background-color : rgb(245, 245, 245);
  padding : 1px 6px;
}
.voice-search-icon {
  height : 24px;
  width : 24px;
  margin-top : 4px;
}

.right-section {
  width : 182px;
  display : flex;
  justify-content : space-between;
  align-items : center;
  margin-right : 22px;
  flex-shrink : 0;
}

.upload-icon,
.youtube-apps-icon,
.notifications-icon {
  height : 24px;
}

.current-user-picture {
  height : 32px;
  border-radius : 16px;
}